@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Novidades</h1>
    <p>Leia mais em <a href="https://www.datainfo.inf.br/br-conselhos-2/"> nossos sites</a> </p>
</div>
